.everything {
    font-family: 'Open Sans', Calibri;
    text-align: left;
}

.Mainbar {
    font-family: 'Open Sans', Calibri;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Main-Description {
    text-align: center;
}

body {
    background-color: #23272A;
    color: #FFFFFF;
}

.Title {
    text-align: center;
    margin: auto;
    margin-top: 0.5rem;
}

.Title-Divider {
    border: 0.5px solid #c0c0c0;
    margin-left: 22rem;
    margin-right: 22rem;
    margin-bottom: 1rem;
}

code {
    background-color: #c0c0c0;
    color: #3b3b3b;
    font-size: 16px;
}

pre {
    font-size: 16px;
}

.para {
    margin: auto;
    font-size: 16px;
    font-family: 'Open Sans', Calibri;
    margin-bottom: 2px;
}

.para-C {
    margin: auto;
    font-size: 16px;
    text-align: center;
}

a:link {
    color: aquamarine;
}

a:visited {
    color: aquamarine;
}

a:hover {
    color: beige;
}

.Back {
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

.Top {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

.Divider {
    border: 0.5px solid #c0c0c0;
    margin-left: 5rem;
    margin-right: 35rem;
    margin-bottom: 1rem;
    min-width: 100px;
}

.H {
    text-align: left;
    margin-bottom: 1px;
    margin-left: 5rem;
    font-family: 'Open Sans', Calibri;
}

.ZS {
    margin-top: 5px;
}

.Img {
    margin-top: 3px;
    margin-bottom: 3px;
}

.sm-Divider {
    border: 0.5px solid #c0c0c0;
    margin-left: 1rem;
    margin-right: 30rem;
    margin-bottom: 1rem;
}

.code-para {
    margin-bottom: 1px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
}

.github {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Most is copied from W3Schools. My programming is shite so if it looks good,
it's most likely not mine (lmao). */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #282D2F;
    overflow: hidden;
    border: solid 2px aquamarine;
}
    
/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}
    
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #282D2F;
    color: beige;
}
    
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4D4F4F;
    color: #ffffff;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}
  
/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
  
/* Add a red background color to navbar links on hover */
.everything .Mainbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
    color: beige;
}
  
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3b3b3b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Fixes the hover window going off the screen */
.right-fix {
    right: 0;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #282D2F;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Most is copied from W3Schools. My programming is shite so if it looks good,
it's most likely not mine (lmao). */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #282D2F;
    overflow: hidden;
    border: solid 2px aquamarine;
}
    
/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    background-color: #282D2F;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid cadetblue;
}
    
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #282D2F;
    color: beige;
}
    
/* Add a color to the active/current link */
.topnav a:active {
    background-color: burlywood;
    color: beige;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}
  
/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
  
/* Add a red background color to navbar links on hover */
.everything .Mainbar a:hover, .dropdown:hover .dropbtn {
    background-color: seagreen;
    color: beige;
}
  
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3b3b3b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.right-fix {
    right: 0;
}

.left-fix {
    text-align: left;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #282D2F;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.Section-Links {
    text-align: center;
    border: 1px solid cadetblue;
}
